body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

#forks {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    align-self: "center";
}

#forks td,
#forks th {
    border: 1px solid #ddd;
    padding: 8px;
}

#forks tr:nth-child(even) {
    background-color: #f2f2f2;
}

#forks tr:hover {
    background-color: #ddd;
}

#forks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(37, 35, 48);
    color: white;
}